body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(24, 21, 185);
}
input, select {
  font-size:120%;
}

form section {
  width:23%;
  display:inline-block;
  margin-right:1em;
}
form section label{
  width:100%;
  display:block;
}
form section select{
  width:30%;
}
form section input{
  width:66%;
}
button 
{
  margin-top:1em;
  background: #229;
  color:white;
  font-size:130%;
}
table {
  width:100%;
}
th {
  background:rgb(190, 190, 190);
  padding:.5em;
}
tr > td{
  padding:.3em;
}
tr td{
  background-color: #fff;
  transition-duration: 1.5s;
}
tr.status1 td{
  background-color:rgb(214, 202, 30);
  transition-duration: 1.5s;
}