body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background: rgb(188, 207, 231);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 15px;
  padding: 5px 0 5px 0
}

select {
  height: 30px;
}

div.fixed {
  position: fixed;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: rgb(24, 21, 185);
}

input, select {
  font-size: 120%;
}

form section label {
  display: block;
}

form section select {
  width: 30%;
}

form section input {
  width: 66%;
}

button {
  margin-top: 1em;
  color: white;
  font-size: 130%;
  padding: .2em;
  margin-right: .5em;
  border-radius: 4px;
  width: 8em;
}

button.action {
  background-color: rgb(41, 77, 41)
}

button.warning {
  background-color: rgb(196, 171, 60)
}

button.normal {
  background-color: rgb(124, 170, 255)
}

.fixed_header {
  margin-top: 130px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 170px);
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: black;
  color: #fff;
  width: 100%;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
}

[data-key='id'] {
  width: 3em;
}

[data-key='title'] {
  width: 28em;
}

[data-key='composer'] {
  width: 20em;
}

[data-key='period'] {
  width: 20em;
}

[data-key='voicing'] {
  width: 10em;
}

[data-key='edition'] {
  width: 30%;
}

th {
  background: rgb(71, 81, 211);
  font-size: 110%;
}

a {
  color: #fff;
}

tr td {
  background-color: #fff;
  transition-duration: 1.5s;
  transition-property: background-color;
}

tr:hover td {
  cursor: pointer;
  font-weight: bold;
}

tr.status1 td {
  background-color: rgb(214, 202, 30);
}